
.hero-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 10%;
}
  
/* --- Introduction --- */

.hamster-wars-intro-logo h1 {
    font-family: var(--feature-font);
    color: var(--dark-orange);
    font-size: 7em;
    margin: 0;
}

.wars-h1 {
    position: relative;
    top: -.5em;
}

.hamster-logo-h1 {
    max-width: 1em;
    margin-right: .3em;
    margin-top: 0;
    position: relative;
    top: .3em;
    transform: rotate(5deg);
}

.introduction-container p {
    max-width: 350px;
}

.hero-container button {
    min-width: 350px;
}


/* XXX --- Introduction --- XXX */

/* --- First Place --- */

.first-place-container {
    background-color: var(--muddy-yellow);
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 1em;
    padding-bottom: 2em;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-place-container div {
    background-color: white;
    max-width: 100%;
    border-radius: var(--box-radius);
    padding: .5em .5em 1em .5em;
}

.first-place-container img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--box-radius);
}

.first-place-container h2 {
    text-transform: uppercase;
    margin-top: 0;
}
  
.first-place-container h2 span {
    color: var(--orange);
    font-size: 2em;
}

.first-place-container h4 {
    font-size: 1.5em;
    margin: .5em 0;
}
  
/* XXX --- First Place --- XXX */
  
  
/* Responsive designs */
  
/* Bigger smartphones*/
@media screen and (max-width: 1078px) {
    .introduction-container {
        text-align: center;
    }

    .hero-container {
        gap: 5em;
    }

    .introduction-container p {
        max-width: 100%;
        margin: 2em 0;
    }
    
}
  
/* Small smartphones */
@media screen and (max-width: 660px) {
    .hamster-wars-intro-logo h1 {
        font-size: 4em;
    }

    .first-place-container {
        min-width: 1em;
    }
}

/* Iphone X and smaller */
@media screen and (max-width: 440px) {

    .hamster-wars-intro-logo h1 {
        font-size: 3em;
    }

    .first-place-container {
        min-width: 1em;
    }
}