
/* ----- Gallery ----- */

.gallery-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.gallery-title {
    text-transform: uppercase;
    color: var(--light-blue);
    font-size: 3.5em;
    margin-bottom: 2rem;
}

.gallery-header p {
    max-width: 30em;
    text-align: center;
    color: var(--light-blue);
    line-height: 1.7em;
    font-weight: 300;
    margin-bottom: 3rem;
}

.gallery-header button { 
   min-width: 10em;
   font-weight: 700;
}

.gallery-header button:hover {
    background-color: var(--dark-orange);
    color: rgb(255, 252, 245);
}

/* XXX --- Gallery --- XXX */

/* ----- Hamster Grid ----- */

.hamster-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 4rem 4rem 0 4rem;
}

.hamster-card {
    text-align: left;
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: var(--box-radius);
    padding: .5em .5em 1em .5em;
    display: flex;
    flex-direction: column;
}

.hamster-card:hover {
    transition: all .5s;
    transform: scale(1.01);
}

.hamster-image  {
    object-fit: cover;  
    border-radius: var(--box-radius);
    cursor: pointer;
}

.hamster-card h3 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.hamster-card h3, .hamster-card p {
    padding-left: 1rem;
}

.hamster-card p  {
    font-size: .9em;
}

.remove-btn {
    background-color: var(--light-blue); 
    color: var(--mint);
    border: none;
    border-radius: 4em;
    width: 90%;
    padding: .5em;
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    align-self: center;
    font-weight: 700;
}

.remove-btn:hover {
    background-color: var(--darkest);
    transition: .5s all;
    color: grey;
}

/* XXX --- Hamster Grid --- XXX */

/* ----- HamsterOverlay onClick ----- */

.hamster-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hamster-overlay-dialog {
    background-color: white;
    width: 20em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: var(--box-radius);
}

.hamster-overlay-dialog .overlay-hamster-image {
    width: 100%;
    max-height: 200px;
    border-radius: var(--box-radius);
    object-fit: cover;
}

.hamster-overlay-dialog .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;

    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
    background-color: var(--darkest);
    color: white;
    cursor: pointer;
}

.hamster-overlay-dialog .close-btn:hover {
    background-color: var(--dark-orange);
    color: var(--bg-color);
    transition: .3s all;
}

.overlay-information-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3em;
}

.overlay-information-box h2 span {
    font-size: .7em;
    font-weight: 400;
}

.overlay-icon {
    width: 30px;
    height: 30px;
}

.match-history {
    display: flex;
    gap: 1em;
    justify-content: center;
    text-align: center; 
}

.hamster-overlay .match-history{
    background-color: var(--muddy-yellow);
    padding: 1rem;
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
}

.vl {
    border-left: 2px solid rgba(0, 0, 0, 0.226);
    height: 70px;
}

.span-container {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

/* XXX --- HamsterOverlay onClick --- XXX */