@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Slackey&display=swap');

/* --- Global --- */

:root {
  /* Colors */
  --dark-orange: #CA6702;
  --orange: #EE9B00;
  --muddy-yellow: #E9D8A6;
  --mint: #94D2BD;
  --light-blue: #0A9396;
  --deep-sea: #005F73;
  --darkest: #001219;

  /* Fonts */
  --feature-font: 'Slackey', cursive; 
  --open-sans: 'Open Sans', cursive;

  /* Main features */
  --box-radius: .5em;
  --box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.11);
  --transition-hover: .2s all;
  --scale-hover: scale(1.02);
}

* {
  font-family: var(--open-sans);
  color: var(--darkest);
}

.main-btn {
  background-color: var(--orange); 
  color: var(--darkest);
  border: none;
  border-radius: 4em;
  min-width: 90%;
  padding: 1em;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}

.main-btn:hover {
  background-color: var(--dark-orange);
  transition: var(--transition-hover);
  color: var(--muddy-yellow);
  transform: var(--scale-hover)
}

.App {
  padding: 2em 4em;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(234,185,43,0.2), rgba(245,221,153,0.2), rgba(234,185,43,0.2) );
  background-repeat: no-repeat;
  background-size: cover;
} 



/* XXX --- Global --- XXX */

/* --- Nav --- */

.nav-link {
  color: var(--light-blue);
  text-decoration: none;
  margin-right: 2em;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--orange);
  transition: var(--transition-hover);
}

.nav-link:active {
  color: #CA6702;
}

/* XXX --- Nav --- XXX */

/* Iphone X and smaller */
@media screen and (max-width: 440px) {

  .App {
    padding-left: 1em;
    padding-right: 1em;
  }

  .App nav {
    padding-left: 1em;
  }




}