
/* ----- MATCH CONTAINER ----- */
.play-match-container  {
    text-align: center;
    margin-top: 2em;
}

.hamster-match-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.hamster-match-container .vs-string {
    font-family: var(--feature-font);
    font-size: 4em;
}

.hamster-match-card {
    max-width: 30em;
    display: flex;
    align-items: center;
}

.hamster-match-card h3 {
    padding: 0;
}

.contestant-hamster-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.vote-btn {
    max-width: 80%;
    margin: 2em 0 1em 0;
    align-self: center;
}

.play-container {
    display: flex;
    gap: 10em;
    align-items: center;
}

.play-container :nth-child(2) {
    order: 2;
}

/* XXX --- MATCH CONTAINER --- XXX */

/* ----- WINNER OVERLAY ----- */

.winner-overlay-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.66);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-hamster-card {
    display: flex;
    align-items: center;
    padding: 1.5em;
    max-height: 90vh;
}

.winner-hamster-h1 {
    font-family: var(--feature-font);
    font-size: 2em;
    margin: 0 0 0.4em 0;
}

.winner-overlay-container .main-btn {
    margin: 2em 0 1em 0;
}

.winner-overlay-container .vl {
    border-left: 2px solid rgba(0, 0, 0, 0.089);
}

.winner-overlay-container .hamster-card:hover {
    transform: scale(1.0);
}

.winner-overlay-container .hamster-image {
    max-height: 200px;
    object-fit: cover;
}

/* XXX --- WINNER OVERLAY --- XXX */

/* ----- Responsive Design ------ */

/* Bigger smartphones & tablets */
@media screen and (max-width: 1300px) and (min-width: 900px) {
    
    .play-container {
        align-items: center;
        justify-content: center;
        gap: 6em;
    }
    
    .hamster-match-card {
        width: 300px;
        margin-top: 0;
    }
    
    .hamster-match-card img {
        width: 100%;
        object-fit: cover;
        max-height: 300px;
    }

    .vote-btn {
        min-width: 17em;
    }
}

/* Smartphones */
@media screen and (max-width: 900px) and (min-width: 630px ){

    .hamster-match-container {
        flex-direction: column;
        align-items: center;
        margin-top: 6em;
    }

    .hamster-wars-intro-logo h1 {
        font-size: 1em;
    }

    .play-container {
        flex-direction: column;
        gap: 5em;
    }
}

/* Smaller smartphones */
@media screen and (max-width: 630px) {

    .play-container {
        flex-direction: column;
        gap: 3em;
    }

    .hamster-match-container {
        margin-top: 2em;
    }

}

/* Iphone X and smaller */
@media screen and (max-width: 440px) {

    .play-container {
        flex-direction: column;
        gap: 3em;
    }

    .hamster-match-container {
        margin-top: 2em;
    }

    .hamster-match-card {
        max-width: 20em;
    }

    .hamster-match-card img{
        max-width: 100%;
    }

}