
.play-match-container  {
    text-align: center;
    margin-top: 4em;
}

.hamster-match-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6em;
}

.hamster-match-container h1 {
    font-family: var(--feature-font);
    font-size: 4em;
}

.hamster-match-card {
    max-width: 30em;
    display: flex;
}

.contestant-hamster-img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    /* object-position: center center; */
}

.vote-btn {
    max-width: 80%;
    margin: 2em 0 1em 0;
    align-self: center;
}

.play-container {
    display: flex;
    gap: 40em;
    align-items: center;
}

.vs-string {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bigger smartphones*/
@media screen and (max-width: 1300px) {

    .hamster-match-card {
        max-width: 22em;
    }
    
}

/* Smaller smartphones*/
@media screen and (max-width: 800px) {

    .hamster-match-container {
        flex-direction: column;
        align-items: center;
        margin-top: 6em;
    }

    .hamster-wars-intro-logo h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 500px) {
    .hamster-wars-intro-logo h1 {
        font-size: 3.2em;
    }
}